/* Layout */

body{
    display:flex;
    flex-direction:column;
    background:bisque;
}

main{
    flex:1;
    display:grid;
    grid-template-columns:10fr 9fr 10fr;
    background:rgb(0,30,128);
    min-height:0;
}

main>div{
    border:1px solid black;
}

main>div:nth-child(2){
    background-color:var(--bgDark);
    border:2px solid var(--borderDark);
}

/* Start Screen */

#startScreen{
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:black;
}

#startButton{
    width:150px;
    padding:20px;
    text-align:center;
    background-color:white;
}

#startButton:hover{
    background-color:rgb(156,150,150);
}

#startText{
    color:white;
}



/* Loading Bar */

#loadingContainer{
    width:80%;
    height:20px;
    margin:20px auto;
    background:#222;
    border:2px solid white;
}

#loadingBar{
    width:0%;
    height:100%;
    background:lime;
    transition:width 0.2s;
}



/* Navbar */

#navBar{
    display:flex;
    justify-content:center;
    gap:1vh;
    padding:5px;
    margin-top:70px;
    background:lightblue;
}

#navBar div{
    padding:10px;
    background:gray;
    border:1px solid blue;
}

#navBar div:hover{
    background:black;
    color:white;
}